<template>
  <div class="row">
    <DeviceForm ref="DeviceForm" @add="submitAdd" @edit="submitEdit" />
    <ProductDeviceList
      ref="ProductDeviceList"
      @add="submitAddProductDevice"
      @edit="submitEdit"
    />
    <div
      v-for="item in desserts"
      class="col-sm-4"
      style="
        width: 200px;
        height: 200px;
        background-color: #97fff1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      "
      @click="openProductDeviceList(item)"
    >
      <p>{{ item.name }}</p>
    </div>
  </div>
</template>

<script>
import DeviceForm from "~/components/forms/DeviceForm";
import ProductDeviceList from "~/components/forms/ProductDeviceList";

export default {
  components: { DeviceForm, ProductDeviceList },
  data() {
    return {
      search: "",
      snackbar: {
        show: false,
        text: "",
        type: "",
      },
      currentPK: null,
      confirm: false,
      headers: [
        { text: "name", value: "name" },
        { text: "lat", value: "lat" },
        { text: "long", value: "long" },
        { text: "Actions", value: "action", sortable: false },
      ],
      desserts: [],
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.desserts = await this.$axios.$get("/api/device");
    },
    openProductDeviceList(item) {
      this.currentPK = item.id;
      this.$refs.ProductDeviceList.open("add", item);
    },
    editItem(item) {
      this.currentPK = item.id;
      this.$refs.DeviceForm.open("edit", item);
    },
    deleteItem(item) {
      this.currentPK = item.id;
      this.confirm = true;
    },
    async submitAddProductDevice(data) {
      try {
        const result = await this.$axios.$post("/api/product-device", data);
        if (result) {
          this.snackbar = {
            show: true,
            text: "Success",
            type: "success",
          };
          this.$refs.ProductDeviceList.close();
          this.fetchData();
        }
      } catch (e) {
        this.snackbar = {
          show: true,
          text: "Fail",
          type: "error",
        };
      }
    },
    async submitAdd(data) {
      try {
        const result = await this.$axios.$post("/api/device", data);
        if (result) {
          this.snackbar = {
            show: true,
            text: "Success",
            type: "success",
          };
          this.$refs.DeviceForm.close();
          this.fetchData();
        }
      } catch (e) {
        this.snackbar = {
          show: true,
          text: "Fail",
          type: "error",
        };
      }
    },
    async submitEdit(data) {
      try {
        const result = await this.$axios.$put(
          `/api/device/${this.currentPK}`,
          data
        );
        if (result) {
          this.snackbar = {
            show: true,
            text: "Success",
            type: "success",
          };
          this.$refs.DeviceForm.close();
          this.fetchData();
        }
      } catch (e) {
        this.snackbar = {
          show: true,
          text: "Fail",
          type: "error",
        };
      }
    },
  },
};
</script>
