<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <v-btn depressed color="primary" @click="addItem">
          + New
        </v-btn>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
      >
        <template v-slot:item.action="{ item }">
          <v-icon
            small
            class="mr-2"
            @click="buy(item)"
          >
            mdi-cart
          </v-icon>
          <v-icon
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
      <AddProductDeviceForm ref="AddProductDeviceForm" @add="submitAdd" @edit="submitEdit" />
      <v-snackbar
        v-model="snackbar.show"
        :color="snackbar.type"
      >
        {{ snackbar.text }}
        <v-btn
          color="blue"
          text
          @click="snackbar.show = false"
        >
          Close
        </v-btn>
      </v-snackbar>
      <v-dialog
        v-model="confirm"
        max-width="350"
      >
        <v-card>
          <v-card-title class="headline">
            ยืนยันการลบ?
          </v-card-title>

          <v-card-text>
            เมื่อยืนยันคุณจะไม่สามารถกู้คืนข้อมูลนี้ได้
          </v-card-text>

          <v-card-actions>
            <v-spacer />

            <v-btn
              text
              @click="confirm = false"
            >
              Cancel
            </v-btn>

            <v-btn
              color="green darken-1"
              text
              @click="submitDelete"
            >
              Confirm
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-card-actions>
        <v-spacer />
        <v-btn text @click="dialog = false">
          CLOSE
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import AddProductDeviceForm from '~/components/forms/AddProductDeviceForm'

export default {
  components: { AddProductDeviceForm },
  data () {
    return {
      dialog: false,
      search: '',
      snackbar: {
        show: false,
        text: '',
        type: ''
      },
      currentPK: null,
      confirm: false,
      headers: [
        { text: 'id', value: 'id' },
        { text: 'product_id', value: 'product_id' },
        { text: 'device_id', value: 'device_id' },
        { text: 'count', value: 'count' },
        { text: 'Actions', value: 'action', sortable: false }
      ],
      desserts: []
    }
  },
  mounted () {
    // this.fetchData()
  },
  methods: {
    open (mode, data) {
      this.dialog = true
      this.mode = mode
      if (data) {
        this.device = { ...data }
      }
      this.fetchData();
    },
    close () {
      this.dialog = false
      this.clearData()
    },
    clearData () {
      this.device = {
        name: '',
        lat: '',
        long: '',
      }
    },
    save () {
      this.$emit(this.mode, this.device)
    },
    async fetchData () {
      this.desserts = await this.$axios.$get('/api/product-device?id='+this.device.id)
    },
    addItem () {
      this.$refs.AddProductDeviceForm.open('add')
    },
    async buy (item) {
      this.currentPK = item.id
      try {
        const result = await this.$axios.$put(`/api/buy/${this.currentPK}`)
        if (result) {
          this.snackbar = {
            show: true,
            text: 'Success',
            type: 'success'
          }
          this.$refs.AddProductDeviceForm.close()
          this.fetchData()
        }
      } catch (e) {
        this.snackbar = {
          show: true,
          text: 'Fail',
          type: 'error'
        }
      }
    },
    deleteItem (item) {
      this.currentPK = item.id
      this.confirm = true
    },
    async submitAdd (data) {
      try {
        const result = await this.$axios.$post('/api/product-device', data)
        if (result) {
          this.snackbar = {
            show: true,
            text: 'Success',
            type: 'success'
          }
          this.$refs.AddProductDeviceForm.close()
          this.fetchData()
        }
      } catch (e) {
        this.snackbar = {
          show: true,
          text: 'Fail',
          type: 'error'
        }
      }
    },
    async submitEdit (data) {
      try {
        const result = await this.$axios.$put(`/api/product-device/${this.currentPK}`, data)
        if (result) {
          this.snackbar = {
            show: true,
            text: 'Success',
            type: 'success'
          }
          this.$refs.AddProductDeviceForm.close()
          this.fetchData()
        }
      } catch (e) {
        this.snackbar = {
          show: true,
          text: 'Fail',
          type: 'error'
        }
      }
    },
    async submitDelete () {
      this.confirm = false
      try {
        await this.$axios.$delete(`/api/product-device/${this.currentPK}`)
        this.snackbar = {
          show: true,
          text: 'Success',
          type: 'success'
        }
        this.fetchData()
      } catch (e) {
        this.snackbar = {
          show: true,
          text: 'Fail',
          type: 'error'
        }
      }
    }
  }
}
</script>
